.form {
    margin: 20px auto;
    width: 60%;
    max-width: 600px;
}

.form__container {
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

.form__description {
    background-color: rgb(4, 164, 228);
    color: white;
    font-weight: 700;
}

.form__ItemDescription {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    padding: 3px;
    margin: 5px;
}

.form__input {
    width: 100%;
    max-width: 300px;
    padding: 3px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 700;
}

.form__input:invalid {
    background-color: rgb(255, 180, 180);
}

.form__button {
    margin: 5px auto;
    width: 100%;
    border: none;
    padding: 3px;
    background-color: rgb(4, 164, 228);
    color: white;
}