html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    margin: 0px auto;
    background-color: white;
    background-image: url("../pictures/money.jpg");
    background-size: cover;
}